body{
	margin: 0px;
	padding: 0px;	
	overflow: hidden;
	background-color: black;
}

#login #email, #join #email{
	height: 40px;
	width: 300px;
	font-size: 20px;
	padding: 10px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	outline: 0;
	border : 1px solid rgb(235,234,219);
}


#login #pwd, #join #confirmPwd{
	height: 40px;
	width: 300px;
	font-size: 20px;
	padding: 10px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	outline: 0;
	border : 1px solid rgb(235,234,219);
}

#join #pwd, #join #company{
	height: 40px;
	width: 300px;
	font-size: 20px;
	padding: 10px;
	outline: 0;
	border : 1px solid rgb(235,234,219);
}

#login #pwd:FOCUS, #login #email:FOCUS, #join #pwd:FOCUS, #join #email:FOCUS, #join #confirmPwd:FOCUS, #join #company:FOCUS{
	 border : 1px solid rgb(35,137,247);
}

#logo{
	width : 250px;
}

#logo2{
	width: 150px;
	margin-bottom: 20px;
    -ms-interpolation-mode: bicubic;
}

#corver{
	background-color: black;
	opacity :0.5;	
}

#bgvid, #corver{
	width: 100%;
}

#login #joinBtn{
	color: blue;
	cursor: pointer;
}

#joinBtn1{
	font-size: 13px;
}

#hr{
	margin-top: 20px;
	width: 80%	
}

#backArrow{
	width: 20px;
	float: left;
	cursor: pointer;	
}

#corver{
	position: absolute;	
}

#loginForm, #joinForm{
	background-color: white; 
	z-index: 9;
	padding: 30px;
	position: absolute;
	border-radius : 10px;
	/* box-shadow: 5px 5px 5px #888888; */
}

#joinForm{
	display :none;
}

.errMsg{
	color: red;
	margin-top:20px;
	font-size: 15px;	
}

